---
import MainOffferCard from '@/components/features/MainOffferCard.astro'

const MainOfferData = [
  {
    title: 'Klimatyzacja',
    href: '/klimatyzacja',
    icon: 'lucide:air-vent',
    description: 'Klimatyzacja split do mieszkania z montażem.',
  },
  {
    title: 'Pompy ciepła',
    href: '/pompy-ciepla',
    icon: 'lucide:heater',
    description: 'Pompy ciepła do grzania pomieszczeń i wody.',
  },
  {
    title: 'Fotowoltaika',
    href: '/fotowoltaika',
    icon: 'lucide:battery-charging',
    description: 'Instalacje fotowoltaiczne dachowe i gruntowe.',
  },
  {
    title: 'Monitoring',
    href: '/monitoring',
    icon: 'lucide:cctv',
    description: 'Monitoring i telewizja przemysłowa z konfiguracją.',
  },
]
---

<section
  id='offer'
  class='flex flex-col gap-8 md:gap-16 xl:flex-row justify-center py-8 xl:py-16 px-spaced'
>
  <div
    class='grid gap-10 *:flex *:flex-col *:gap-10 lg:grid-cols-2 intersect:animate-fade-in-scale intersect-once w-full'
  >
    <div>
      {MainOfferData.slice(0, 2).map((offer) => <MainOffferCard {...offer} />)}
    </div>
    <div class='lg:mt-16'>
      {MainOfferData.slice(2, 4).map((offer) => <MainOffferCard {...offer} />)}
    </div>
  </div>
  <div
    class='flex flex-col gap-4 order-first xl:order-last intersect:animate-fade-in-scale intersect-once items-center w-full justify-between'
  >
    <h2
      class='font-semibold gradient-text text-3xl lg:text-6xl max-w-3xl text-center'
    >
      Nie tylko chłodnictwo oferta Sawers
    </h2>
    <div class='hidden xl:flex'>
      <div class='flex size-36 bg-accent rounded-full blur-3xl'></div>
      <div class='flex size-20 bg-bbrand-300 rounded-full blur-3xl -ml-2'></div>
    </div>
    <p class='max-w-2xl text-center text-base xl:text-xl'>
      Głównym sektorem działalności firmy jest <strong>chłodnictwo</strong>. Od
      początku działalności, montujemy klimatyzację i <strong
        >instalacje chłodnicze</strong
      >. Wraz z rozwojem odnawialncych źródeł energii włączyliśmy do ofert pompy
      ciepła i fotowoltaikę. Okazjonalnie przyjmujemy zlecenia na montaż i
      konfigurację systemu monitoringu.
    </p>
  </div>
</section>
