---
import P1 from "@/assets/homepage/chlodnia.avif";
import P2 from "@/assets/homepage/chlodnia1.avif";
import Image from "astro/components/Image.astro";
---

<section
  class="grid gap-8 lg:grid-cols-3 lg:grid-rows-3 xl:justify-between px-spaced xl:py-24 py-12 relative"
>
  <div
    class="absolute rounded-full bg-accent blur-3xl opacity-80 top-12 right-16 w-2xl h-20 rotate-3"
  >
  </div>
  <div
    class="absolute rounded-full bg-accent blur-3xl opacity-80 bottom-12 left-16 w-2xl h-20 -rotate-3"
  >
  </div>
  <Image
    src={P1}
    alt="Instalacje chłodnicze Parczew"
    class="w-full h-full object-cover rounded-2xl lg:row-start-1 lg:row-span-2 flex double-brand-clip intersect:animate-fade-in-scale intersect-once"
    loading={"lazy"}
    fetchpriority={"high"}
    widths={[400, 600, 800, 1000, 1200, 1600, 2000]}
    sizes="(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (min-width: 1601px) 2000px"
  />
  <div
    class="lg:row-span-2 lg:row-start-2 flex flex-col gap-8 items-center w-full intersect:animate-fade-in-scale intersect-once"
  >
    <h2 class="font-semibold gradient-text text-center text-3xl lg:text-6xl">
      Instalacje chłodnicze Parczew
    </h2>
    <p class="text-center text-base xl:text-xl">
      <strong>Instalacje chłodnicze</strong> to zamknięte układy złożone z urządzeń
      chłodniczych, m.in.: sprężarki, parownika, skraplacza, zestawu zaworów połączonych
      przewodami rurowymi. Przez układ przepływa płyn roboczy o odpowiednich właściwościach,
      nazywany czynnikiem chłodniczym.
    </p>
  </div>
  <Image
    src={P2}
    alt="Instalacje chłodnicze Parczew"
    class="w-full h-full object-cover rounded-2xl lg:row-start-2 lg:row-span-2 flex order-last md:order-none lg:min-h-[30rem] double-brand-clip intersect:animate-fade-in-scale intersect-once"
    loading={"lazy"}
    fetchpriority={"high"}
    widths={[400, 600, 800, 1000, 1200, 1600, 2000]}
    sizes="(max-width: 400px) 400px, (max-width: 600px) 600px, (max-width: 800px) 800px, (max-width: 1000px) 1000px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (min-width: 1601px) 2000px"
  />
</section>
