---
import { Picture } from 'astro:assets'
import P1 from '@/assets/services/serwis-klimy.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Serwis jednostki wewnętrznej systemu klimatyzacji przemysłowej.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='flex flex-col place-self-end gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Chłodnictwo i odnawialne źródła energii - Parczew i okolice</h2>
      </header>

      <p>
        W pompach ciepła typu powietrze-powietrze najczęściej awarie dotyczą
        kilku kluczowych komponentów. Ubytki czynnika chłodniczego z powodu
        nieszczelności mogą prowadzić do spadku wydajności, a awarie sprężarki,
        takie jak przegrzanie czy uszkodzenie łożysk, uniemożliwiają efektywną
        pracę urządzenia. Problemy z wentylatorami, np. zanieczyszczenie lub
        uszkodzenie, ograniczają przepływ powietrza, co wpływa na wydajność
        grzewczą i chłodzącą. Zatkane filtry powietrza mogą powodować
        przegrzanie i uszkodzenia innych elementów, a awarie elektroniki i
        czujników prowadzą do błędów w regulacji temperatury i pracy urządzenia.
        Regularne przeglądy mogą zapobiec większości tych problemów.
      </p>
    </article>
    <article>
      <header>
        <h2>Czym charakteryzują się instalacje chłodnicze?</h2>
      </header>
      <p>
        Firma Sawers oferuje nowoczesne rozwiązania w zakresie chłodnictwa oraz
        systemów opartych na odnawialnych źródłach energii w Parczewie i
        okolicach. Specjalizujemy się w projektowaniu, montażu i serwisie
        instalacji chłodniczych, klimatyzacyjnych oraz pomp ciepła, które
        zapewniają efektywne i ekologiczne zarządzanie temperaturą w domach,
        firmach i obiektach przemysłowych. Nasze systemy łączą innowacyjne
        technologie z oszczędnością energii, co pozwala na znaczną redukcję
        kosztów eksploatacji i minimalizację wpływu na środowisko. Dzięki
        wieloletniemu doświadczeniu oraz współpracy z renomowanymi producentami
        gwarantujemy najwyższą jakość usług i indywidualne podejście do każdego
        klienta. Skontaktuj się z nami i wybierz nowoczesne, ekologiczne
        chłodnictwo.
      </p>
    </article>
    <article>
      <header>
        <h2>Montaż instalacji chłodnicznych - Parczew i okolice</h2>
      </header>
      <p>
        Montaż instalacji chłodniczych to proces wymagający precyzji,
        odpowiednich narzędzi oraz znajomości zasad termodynamiki i mechaniki.
        Obejmuje on kilka kluczowych etapów, takich jak projektowanie systemu,
        dobór odpowiednich komponentów, instalację przewodów chłodniczych,
        montaż jednostek wewnętrznych i zewnętrznych, a także napełnienie układu
        czynnikiem chłodniczym i przeprowadzenie testów szczelności. W trakcie
        prac należy przestrzegać norm i przepisów dotyczących bezpieczeństwa
        oraz ochrony środowiska, szczególnie w zakresie obsługi substancji
        chłodniczych. Prawidłowo wykonany montaż zapewnia wysoką wydajność,
        energooszczędność oraz długą żywotność systemu, co ma kluczowe znaczenie
        zarówno w zastosowaniach przemysłowych, jak i domowych.
      </p>
    </article>
    <article>
      <header>
        <h2>Serwis instalacji chłodniczych - autoryzowany serwisant Parczew</h2>
      </header>
      <p>
        Firma Sawers to autoryzowany serwisant instalacji chłodniczych w
        Parczewie i okolicach, oferujący kompleksową obsługę systemów
        chłodniczych, klimatyzacyjnych oraz pomp ciepła. Świadczymy
        profesjonalne usługi serwisowe, w tym regularne przeglądy, konserwację,
        diagnozowanie usterek oraz naprawy, zapewniając niezawodne działanie
        urządzeń i ich długą żywotność. Posiadamy niezbędne uprawnienia oraz
        doświadczenie, co gwarantuje najwyższą jakość usług i zgodność z
        obowiązującymi normami. Nasz serwis działa sprawnie i terminowo, aby
        zapewnić ciągłość pracy systemów chłodniczych w domach, firmach i
        obiektach przemysłowych. Skontaktuj się z nami i powierz swoje
        urządzenia w ręce specjalistów!
      </p>
    </article>
    <article>
      <header>
        <h2>Co to jest termomodernizacja?</h2>
      </header>
      <p>
        Termomodernizacja to proces ulepszania budynku w celu zwiększenia jego
        efektywności energetycznej, co przekłada się na mniejsze zużycie energii
        oraz niższe koszty ogrzewania i chłodzenia. Obejmuje różne działania,
        takie jak ocieplenie ścian, dachu i fundamentów, wymiana okien i drzwi
        na bardziej energooszczędne, modernizacja systemów grzewczych i
        wentylacyjnych, a także instalacja odnawialnych źródeł energii, np. pomp
        ciepła czy paneli fotowoltaicznych. Celem termomodernizacji jest nie
        tylko poprawa komfortu cieplnego mieszkańców, ale także zmniejszenie
        emisji CO₂ i ochrona środowiska. W Polsce właściciele budynków mogą
        korzystać z dofinansowań i ulg podatkowych na realizację takich
        inwestycji.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
