---
import background from '@/assets/background.svg'
import Breadcrumbs from '@/components/features/Breadcrumbs.astro'
import Pill from '@/components/features/Pill.astro'
---

<section
  class='flex w-full md:h-screen bg-center bg-cover px-spaced pt-28 xl:pt-36 items-center justify-center'
  style={`background-image: url(${background.src})`}
>
  <div class='flex flex-col gap-12 justify-center items-center'>
    <Breadcrumbs
      breadcrumbs={[
        { href: '/', children: 'Sawers' },
        { href: '/serwisy', children: 'Serwisy' },
      ]}
    />
    <h1 class='font-semibold text-center'>
      Serwis, okresowe przeglądy klimatyzacji i pomp ciepła Parczew
    </h1>
    <p
      style='text-shadow: #ff5a02 0px 5px 30px;'
      class='text-3xl xl:text-6xl font-bold text-bbrand-100 flex flex-col gap-4 text-center'
    >
      <span>COŚ SIĘ ZEPSUŁO?</span>
      <span style='text-shadow: #199afc 0px 5px 30px;' class='text-accent'
        >PRZYJEDZIEMY I POMOŻEMY!</span
      >
    </p>
    <p class='text-base xl:text-xl max-w-3xl text-center'>
      Jeśli w Twojej klimatyzacji lub pompie ciepła dzieje się coś
      niepokojącego, to zgłoś się do nas po diagnostykę i serwis urządzeń.
      Wykonujemy również okresowe przeglądy systemów klimatyzacji i pomp ciepła.
    </p>
    <a href='/kontakt'>
      <Pill class='flex items-center rounded-full gap-4 px-4 xl:px-8 py-3'>
        Skontakuj się
      </Pill>
    </a>
  </div>
</section>
