---
import { Picture } from 'astro:assets'
import P1 from '@/assets/air-conditioning/klimatyzacja-biuro.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit order-last grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Klimatyzacja chodząca w pomieszczeniu biurowym i kobieta używająca pilota od klimatyzacji.'
      formats={['avif', 'webp']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='order-first prose-stone flex flex-col gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>
          Okresowy przegląd klimatyzacji Parczew - najważniejsze informacje
        </h2>
      </header>

      <p>
        Świadczymy kompleksowe usługi serwisowe i konserwacyjne dla systemów
        klimatyzacyjnych. Niezależnie od rodzaju awarii, nasz zespół szybko
        zdiagnozuje przyczynę problemu i podejmie odpowiednie działania
        naprawcze. Regularna konserwacja zapewnia maksymalną wydajność oraz
        długowieczność Twojego urządzenia. Zdajemy sobie sprawę, jak istotne
        jest szybkie rozwiązanie problemów z klimatyzacją, zwłaszcza w okresach
        intensywnego użytkowania.
      </p>
      <div class='flex flex-col gap-5'>
        <h3>Co zawiera przegląd klimatyzacji?</h3>
        <p>
          Trzeba przede wszystkim sprawdzić szczelność układu i zbadać ilość
          czynnika chłodzącego, w razie potrzeb niezbędne będzie jego
          uzupełnienie. Sprawdzimy również działanie oraz wydajność elektryki
          instalacji i drożność układu odprowadzania skroplin i parownika. W
          ramach przeglądu zajmiemy się również nieprzyjemnym zapachem. Nie bez
          znaczenia jest również wyczyszczenie urządzenia z zewnątrz oraz we
          wnętrzu w celu usunięcia stałych, nagromadzonych zanieczyszczeń.
          Specjalistyczny środek chemiczny będzie z kolei służył do
          wyczyszczenia i dokładnej dezynfekcji wszystkich filtrów.
        </p>
        <h3>Jak często wykonywać okresowy przegląd klimatyzacji?</h3>
        <p>
          Niektóre firmy zalecają wykonanie przeglądu tuż przed rozpoczęciem
          sezonu letniego, na przykład w kwietniu, aby przygotować system do
          intensywnej pracy. Kolejny przegląd warto zaplanować po zakończeniu
          sezonu, na przykład na początku października, by upewnić się, że
          urządzenie jest w dobrym stanie po okresie intensywnego użytkowania.
          Najważniejsze by przynajmniej raz w roku umówić się na przegląd.
        </p>
        <h3>Ile kosztuje okresowy przegląd klimatyzacji?</h3>
        <p>
          Przegląd pojedynczego urządzenia to około 300zł netto przy założeniu,
          że nie trzeba uzupełniać większej ilości czynnika chłodzącego. Możliwa
          jest lekka korekta ceny przy większej ilości klimatyzacji przy jednym
          zleceniu.
        </p>
      </div>
    </article>
    <article>
      <header>
        <h2>Diagnostyka i serwis klimatyzacji Parczew</h2>
      </header>

      <p>
        Klimatyzacje mogą ulec różnym awariom, najczęściej psują się filtry
        powietrza, układ chłodzenia (czynnik chłodniczy), sprężarka, termostat,
        system odwodnienia, wentylatory oraz układ elektryczny. Zatkane filtry,
        nieszczelności w układzie chłodniczym czy uszkodzenia sprężarki mogą
        znacząco obniżyć wydajność urządzenia, a brak odpowiedniej konserwacji
        prowadzi do poważniejszych problemów. Dlatego warto regularnie
        serwisować klimatyzację, a firma Sawers, jako autoryzowany serwis,
        oferuje kompleksową obsługę i profesjonalne naprawy. Dzięki
        doświadczeniu i wiedzy technicznej, Sawers zapewnia, że Twoja
        klimatyzacja będzie działała efektywnie i niezawodnie przez długie lata.
      </p>
    </article>
    <article>
      <header>
        <h2>Regularny serwis gwarancyjny klimatyzacji i pomp ciepła Parczew</h2>
      </header>
      <p>
        Przegląd gwarancyjny klimatyzacji, rekuperatora czy pompy ciepła to
        regularna konserwacja i kontrola urządzenia, którą wykonują
        certyfikowani serwisanci. Wymaga tego większość producentów, aby
        utrzymać gwarancję. Przegląd pozwala usunąć zabrudzenia, które mogą
        zakłócać pracę urządzenia i prowadzić do awarii. Wymienniki jednostek
        zewnętrznych zapychają się kurzem i liśćmi, a filtry wewnętrzne
        zatrzymują zanieczyszczenia z pomieszczenia. Regularna konserwacja
        zapewnia dłuższą żywotność urządzenia, mniejsze zużycie energii i lepszą
        wydajność. Warto wykonywać przeglądy na czas, by uniknąć kosztownych
        napraw i zapewnić komfort w użytkowaniu.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
