---
import { Picture } from 'astro:assets'
import P1 from '@/assets/services/serwis-klimy.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Serwis jednostki wewnętrznej systemu klimatyzacji przemysłowej.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='flex flex-col place-self-end gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Serwis pomp ciepła powietrze-powietrze - najczęstsze usterki</h2>
      </header>

      <p>
        W pompach ciepła typu powietrze-powietrze najczęściej awarie dotyczą
        kilku kluczowych komponentów. Ubytki czynnika chłodniczego z powodu
        nieszczelności mogą prowadzić do spadku wydajności, a awarie sprężarki,
        takie jak przegrzanie czy uszkodzenie łożysk, uniemożliwiają efektywną
        pracę urządzenia. Problemy z wentylatorami, np. zanieczyszczenie lub
        uszkodzenie, ograniczają przepływ powietrza, co wpływa na wydajność
        grzewczą i chłodzącą. Zatkane filtry powietrza mogą powodować
        przegrzanie i uszkodzenia innych elementów, a awarie elektroniki i
        czujników prowadzą do błędów w regulacji temperatury i pracy urządzenia.
        Regularne przeglądy mogą zapobiec większości tych problemów.
      </p>
    </article>
    <article>
      <header>
        <h2>Uzupełnienie czynnika chłodzącego R32 - Parczew i okolice</h2>
      </header>
      <p>
        Brak czynnika R32 w klimatyzacji domowej objawia się spadkiem wydajności
        chłodzenia lub grzania, gdy urządzenie nie osiąga pożądanej temperatury
        w pomieszczeniu, mimo że działa. Może to także powodować dziwne dźwięki
        z jednostki, takie jak stukanie czy piszczenie, a także dłuższy czas
        osiągania zadanej temperatury. W przypadku niedoboru czynnika jednostka
        zewnętrzna może nadmiernie się nagrzewać, a nowoczesne klimatyzatory
        mogą wyświetlać kody błędów wskazujące na problem z czynnikiem.
      </p>
    </article>
    <article>
      <header>
        <h2>Autoryzowany serwisant klimatyzacji i pomp ciepła Parczew</h2>
      </header>
      <p>
        Jako firma Sawers z przyjemnością rekomendujemy się jako autoryzowany
        serwis klimatyzacji i pomp ciepła. Dzięki wieloletniemu doświadczeniu
        oraz odpowiednim certyfikatom, zapewniamy profesjonalną obsługę w
        zakresie montażu, konserwacji, przeglądów oraz napraw tych urządzeń.
        Wybierając naszą firmę, masz pewność, że Twoje urządzenia będą działały
        efektywnie, a ich gwarancja pozostanie ważna przez cały okres
        użytkowania.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
