---
import { Picture } from 'astro:assets'
import P1 from '@/assets/air-conditioning/klimatyzacja-zewnetrzne.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Jednostki zewenętrzne klimatyzatorów stacjonarnych typu split, zamontowane na elewacji budynku.'
      formats={['avif', 'webp']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='flex flex-col place-self-end gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>
          Klimatyzacja w bloku mieszkalnym Parczew - informacje i wskazówki
        </h2>
      </header>

      <p>
        Czy <strong>klimatyzacja do mieszkania w bloku</strong> jest możliwa do zamontowania?
        Dla mieszkańców bloków mamy dobre wiadomości. Jest to możliwe, jednak jest
        kilka kwestii, o których należy pamiętać.
      </p>
      <div class='flex flex-col gap-5'>
        <h3>Czy można przeprowadzić montaż klimatyzacji na elewacji bloku?</h3>
        <p>
          Ze względu na fakt, że elewacja uznawana jest za tzw. nieruchomość
          wspólną, należy uzyskać zgodę, którą przyznaje wspólnota mieszkaniowa.
          Przed przystąpieniem do realizacji warto skonsultować się z zarządcą
          wspólnoty, który analizuje i opiniuje projekt, sprawdzając, czy
          instalacja nie zaszkodzi elewacji ani ogólnemu wyglądowi
          nieruchomości. Dodatkowo może on określić obowiązujące wymogi oraz
          przyjęte normy dotyczące emisji hałasu i wymaganych odległości.
          Najczęściej klimatyzacja może być montowana na posadzce, w loggii lub
          w przestrzeni na wysokości balustrady, pod warunkiem że nie wpływa to
          negatywnie na estetykę budynku ani nie powoduje nadmiernego hałasu.
        </p>
        <h3>
          Montaż klimatyzacji na posadzce balkonu - brak konieczności uzyskania
          zgody
        </h3>
        <p>
          Jednym z najłatwiejszych sposobów <strong
            >montażu jednostki zewnętrznej klimatyzacji</strong
          > jest umieszczenie jej bezpośrednio na podłodze balkonu. Ponieważ wnęka
          balkonowa, obejmująca podłogę, balustradę, ściany boczne i sufit, stanowi
          część prywatną lokalu, jej zagospodarowanie nie wymaga zgody wspólnoty
          mieszkaniowej. Aby zminimalizować drgania i hałas, warto zastosować specjalny
          stojak oraz gumowe podkłady antywibracyjne, które zapewnią stabilność urządzenia.
          Minusem tego rozwiązania jest ograniczenie dostępnej przestrzeni na balkonie,
          jednak brak konieczności uzyskiwania dodatkowych zezwoleń sprawia, że jest
          to jedna z bardziej praktycznych opcji.
        </p>
        <h3>
          Czy na elewacji balkonu można zamontować jednostkę zewnętrzną
          klimatyzacji?
        </h3>
        <p>
          Zgodnie z art. 2 Ustawy z dn. 24 czerwca 1994 r. o własności lokali,
          balkon należy uznać za pomieszczenie pomocnicze, stanowiące część
          lokalu. Zgodnie z orzeczeniem Sądu Najwyższego z dnia 7 marca 2008 r.
          (sygn. akt III CZP 10/08), wszelkie elementy konstrukcyjne i
          architektoniczne trwale związane z budynkiem, w tym również elewacja,
          stanowią część wspólną nieruchomości. Oznacza to, że montaż jednostki
          zewnętrznej na elewacji balkonu wymaga uprzedniej zgody wspólnoty
          mieszkaniowej, aby uniknąć ewentualnej konieczności jej późniejszego
          demontażu.
        </p>
      </div>
    </article>
    <article>
      <header>
        <h2>Czy zamontowany klimatyzator jest głośny i uciążliwy?</h2>
      </header>
      <p>
        Klimatyzator typu split jest stosunkowo cichy, zwłaszcza w porównaniu do
        modeli monoblokowych. Jego najgłośniejszy element, czyli sprężarka,
        znajduje się w jednostce zewnętrznej, co redukuje hałas wewnątrz
        pomieszczenia. Dopuszczalne normy hałasu wynoszą 55 dB dla zabudowy
        wielorodzinnej i 50 dB dla jednorodzinnej w ciągu dnia, a nocą wartości
        te spadają odpowiednio do 45 dB i 40 dB. Wpływ na poziom hałasu ma
        jakość urządzenia, sposób montażu oraz zastosowane rozwiązania
        antywibracyjne. Osoby zastanawiające się nad montażem klimatyzacji
        uspokajamy - właściwie zamontowany i nowoczesny klimatyzator split nie
        powinien znacząco wpływać na poziom hałasu w mieszkaniu.
      </p>
    </article>
    <article>
      <header>
        <h2>
          Czy klimatyzacja pobiera dużo prądu? - Jakie ma to przełożenie na
          rachunki
        </h2>
      </header>
      <p>
        Jeśli zastanawiasz się, czy rachunki za prąd po montażu klimatyzacji
        znacząco wzrosną, mamy dla Ciebie małą kalulację. Klimatyzator o mocy
        2,5 kW zużywa średnio 0,8–1 kWh na godzinę, a model 3,5 kW około 1,2–1,5
        kWh. Przyjmując, że klimatyzator 2,5 kW pracuje przez 6 godzin dziennie
        przez 30 dni, jego miesięczne zużycie wyniesie około 144 kWh (0,8 kWh ×
        6 godzin × 30 dni). Przy cenie prądu wynoszącej 1,10 PLN za kWh,
        miesięczny koszt eksploatacji to około 158 PLN. Koszty mogą się różnić w
        zależności od efektywności urządzenia, trybu pracy oraz temperatury
        otoczenia.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
