---
import { Picture } from 'astro:assets'
import P1 from '@/assets/heat-pumps/pompa-ciepla.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit order-last grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Jednostka zewnętrzna pompy ciepła.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='order-first prose-stone flex flex-col gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Czym są pompy ciepła i jak działają?</h2>
      </header>

      <p>
        <strong>Pompa ciepła</strong> to urządzenie umożliwiające efektywne przenoszenie
        ciepła z obszaru o niższej temperaturze do miejsca o temperaturze wyższej,
        wykorzystując do tego niewielką ilość energii. Jej działanie opiera się na
        zamkniętym obiegu, w skład którego wchodzą parownik, sprężarka, skraplacz
        i zawór rozprężny. W pierwszym etapie czynnik roboczy pobiera ciepło z otoczenia
        (powietrza, gruntu lub wody) i odparowuje w parowniku. Następnie sprężarka
        podnosi temperaturę i ciśnienie pary czynnika, co stanowi główne źródło zużycia
        energii. W kolejnym kroku gorąca para skrapla się w skraplaczu, oddając ciepło
        do systemu grzewczego. Ostatnim etapem jest rozprężanie czynnika w zaworze
        rozprężnym, co powoduje spadek jego temperatury i ciśnienia, przygotowując
        go do ponownego poboru ciepła w parowniku. Dzięki temu procesowi pompy ciepła
        mogą zarówno ogrzewać, jak i chłodzić pomieszczenia, w zależności od potrzeby,
        odwracając kierunek przepływu ciepła.
      </p>
    </article>
    <article>
      <header>
        <h2>
          Sprzedaż i montaż powietrznych pomp ciepła Parczew - baza informacji
          przed zakupem
        </h2>
      </header>

      <p>
        <strong>Powietrzne pompy ciepła</strong> wykorzystują energię zgromadzoną
        w powietrzu zewnętrznym do podgrzewania wody użytkowej oraz ogrzewania budynków.
        Są to jedne z najczęściej wybieranych systemów grzewczych, ponieważ charakteryzują
        się wysoką efektywnością, a ich instalacja jest szybka i nieskomplikowana.
      </p>
      <div class='flex flex-col gap-8'>
        <h3>Pompy ciepła powietrzne typu split - z czego się składa?</h3>
        <p>
          System składa się z dwóch jednostek: zewnętrznej i wewnętrznej. Moduł
          zewnętrzny, w którym znajdują się wentylator, parownik, sprężarka oraz
          zawór rozprężny, odpowiada za pobieranie i przetwarzanie ciepła.
          Natomiast w jednostce wewnętrznej znajdują się skraplacz, elektryczny
          podgrzewacz wspomagający oraz pompa obiegowa centralnego ogrzewania.
          Oba moduły są połączone rurami chłodniczymi, co umożliwia efektywną
          wymianę ciepła między nimi.
        </p>
        <h3>
          Pompa ciepła powietrze-powietrze a klimatyzacja - kluczowe różnice
        </h3>
        <p>
          <strong>Pompy ciepła powietrze-powietrze</strong> to wszechstronne urządzenia,
          które zapewnią zarówno ogrzewanie zimą, jak i chłodzenie latem, dzięki
          czemu mogą być używane przez cały rok, gwarantując komfort cieplny w każdych
          warunkach. W porównaniu do klimatyzacji różni się konstrukcją jednostki
          zewnętrznej, co pozwala jej pracować efektywnie nawet przy bardzo niskich
          temperaturach, sięgających -25°C, bez utraty wydajności. Klimatyzatory
          natomiast mogą mieć ograniczoną skuteczność w takich warunkach. Oba systemy
          oferują funkcję chłodzenia, umożliwiając utrzymanie przyjemnej temperatury
          w pomieszczeniach podczas upalnych dni.
        </p>
        <h3>Montaż pomp ciepła - jak przebiega?</h3>
        <p>
          Instalacja pompy ciepła rozpoczyna się od montażu jednostek
          wewnętrznych, które mogą być naścienne, przypodłogowe lub podsufitowe
          i są odpowiedzialne za emisję ciepłego lub chłodnego powietrza do
          pomieszczeń. Następnie instalator tworzy punkt dostępu, wywiercając
          otwór w ścianie, aby umożliwić połączenie jednostki wewnętrznej z
          zewnętrzną poprzez przewody elektryczne i rury spustowe. Kolejnym
          etapem jest montaż jednostki zewnętrznej, zwykle umieszczanej z boku
          budynku, a w chłodniejszych rejonach instalowanej nad ziemią, aby
          uniknąć kontaktu ze śniegiem. Następnie podłączane są przewody
          elektryczne, które w razie potrzeby zostają odpowiednio zaizolowane.
          Równocześnie wykonywane jest połączenie przewodów rurowych, które
          transportują gorący gaz lub zimną ciecz do jednostek wewnętrznych, a
          także przewodów spustowych odprowadzających skropliny – również
          wymagających izolacji. Cały proces kończy się dokładnymi testami
          systemu, mającymi na celu sprawdzenie jego optymalnego działania przed
          oddaniem do użytku.
        </p>
      </div>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
