---
import { Picture } from 'astro:assets'
import P1 from '@/assets/heat-pumps/pompa-ciepla2.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Duża jednostka zewnętrzna pompy ciepła.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='flex flex-col place-self-end gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Pompy ciepła powietrze-powietrze - cena</h2>
      </header>
      <p>
        <strong>Koszt instalacji pompy ciepła</strong> z roku na rok maleje – jeszcze
        kilka lat temu był nawet dwukrotnie wyższy niż obecnie. <strong
          >Średnia cena powietrznej pompy ciepła</strong
        > typu powietrze-woda wynosi średnio około 42 tys. zł, choć może być wyższa,
        jeśli urządzenie ma pełnić dodatkowe funkcje. Najtańsze modele kosztują około
        25 tys. zł, jednak zazwyczaj służą wyłącznie do ogrzewania domu, bez podgrzewania
        wody użytkowej, którą w takim przypadku należy ogrzewać innym źródłem. Tego
        typu pompy często nie oferują również funkcji chłodzenia. Warto podkreślić,
        że montaż powietrznej pompy ciepła wiąże się z niższymi kosztami instalacji,
        ponieważ proces ten jest prostszy i nie wymaga skomplikowanych prac ziemnych,
        co przekłada się na oszczędności i krótszy czas realizacji.
      </p>
    </article>
    <article>
      <header>
        <h2>Pompy ciepła a rachunki za prąd</h2>
      </header>
      <p>
        Ogrzewanie za pomocą pompy ciepła jest uznawane za jedno z najbardziej
        opłacalnych rozwiązań, zarówno w zakresie centralnego ogrzewania, jak i
        podgrzewania wody użytkowej. W porównaniu z tradycyjnymi metodami,
        takimi jak węgiel, drewno, gaz czy ekogroszek, wypada najkorzystniej,
        nawet uwzględniając rosnące ceny energii elektrycznej. Dla nowoczesnego
        domu o powierzchni 200 m² koszt ogrzewania kotłem węglowym wyniesie
        około 2660 zł, a w przypadku kotła gazowego lub na ekogroszek – od 2000w
        do 2130 zł. Natomiast przy tych samych warunkach, wydatki na energię
        elektryczną potrzebną do działania pompy ciepła wyniosą jedynie około
        1200 zł.
      </p>
    </article>
    <article>
      <header>
        <h2>Kombinacja pompy ciepła z fotowoltaiką – główne zalety</h2>
      </header>
      <p>
        Połączenie pompy ciepła z instalacją fotowoltaiczną to najbardziej
        opłacalne i ekologiczne rozwiązanie. Pompa wykorzystuje ciepło
        zmagazynowane w gruncie, powietrzu lub wodzie do ogrzewania, chłodzenia
        budynku, wentylacji oraz podgrzewania wody użytkowej, jednak do
        działania potrzebuje energii elektrycznej. Dzięki fotowoltaice, która
        generuje darmowy i przyjazny dla środowiska prąd, możliwe jest znaczne
        obniżenie kosztów eksploatacji. Dodatkowo, zwiększenie zużycia
        wyprodukowanej energii na własne potrzeby pozwala ograniczyć straty
        wynikające z oddawania jej nadwyżek do sieci.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
