---
import { Icon } from 'astro-icon/components'
import { navData } from './AppHeader/navData'
---

<footer
  id='footer'
  class='flex flex-col gap-8 py-16 px-spaced border-bbrand-100 relative justify-center items-center'
>
  <div id='ellipse' class='absolute w-full h-3/4 bottom-1/4 right-0 -z-10'>
  </div>
  <div class='flex flex-col gap-4'>
    <a href='/'>Strona główna</a>
    {navData.slice(0, 5).map((item) => <a href={item.href}>{item.title}</a>)}
  </div>

  <!-- <Icon name='ellipse' class='absolute w-full h-full bottom-0 right-0' /> -->
</footer>

<style>
  #ellipse {
    background: conic-gradient(
      from 187.31deg at 53.06% 26.16%,
      #0500b3 -20.13deg,
      #199afc 15.67deg,
      rgba(255, 33, 246, 0) 122.88deg,
      rgba(125, 35, 240, 0) 273.47deg,
      #0500b3 229.87deg,
      #199afc 375.67deg
    );
    filter: blur(80px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
</style>
