---
import background from "../assets/background.svg";
---

<div id="splash" class="px-spaced text-center">
  <span
    style="text-shadow: #fff 0px 0px 30px;"
    class="text-bbrand-100 bg-none font-bold text-4xl tracking-tight text-center"
  >
    Sawers
  </span>
  <p>Proszę czekać...</p>
</div>

<style>
  #splash {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(1, 0, 20, 1) 0%,
      rgba(6, 0, 183, 1) 100%
    );
  }

  #splash span {
    width: min(50vw, 50vh);
    height: auto;
    backdrop-filter: blur(8px);
  }

  #splash p {
    font-weight: 900;
    font-family: "Roboto Condensed Variable", sans-serif;
    font-size: 3rem;
    color: var(--color-bbrand-100);
  }
</style>
<script>
  function main() {
    const splash = document.querySelector("#splash");
    splash?.animate([{ transform: "translateY(-100%)" }], {
      duration: 800,
      iterations: 1,
      fill: "forwards",
      easing: "cubic-bezier(0.5, 1, 0.89, 1)",
    });
  }

  const s = new Date().getTime();

  function afterLoaded() {
    const eagerImages = Array.from(
      document.querySelectorAll('img[loading="eager"]'),
    ) as HTMLImageElement[];

    if (eagerImages.every((img) => img.complete)) {
      setTimeout(main, Math.max(new Date().getTime() - s, 350));
    } else {
      setTimeout(afterLoaded, 200);
    }
  }

  afterLoaded();
</script>
