---
import { Icon } from "astro-icon/components";
---

<div class="absolute left-0 top-[-76px] lg:top-[-379px]">
  <Icon name={"whave-tl"} class={"w-[380px] h-full hidden lg:block"} />
  <Icon name={"mobile-tl"} class={"w-[80px] h-full lg:hidden"} />
</div>
<div class={"absolute right-0 top-0"}>
  <Icon name={"whave-tr"} class={"w-[380px] h-full hidden lg:block"} />
  <Icon name={"mobile-tr"} class={"w-[80px] h-full lg:hidden"} />
</div>
<div class="absolute left-[0] bottom-[-1px]">
  <Icon name={"whave-bl"} class={"w-[380px] h-full hidden lg:block"} />
  <Icon name={"mobile-bl"} class={"w-[80px] h-full lg:hidden"} />
</div>
<div class={"absolute right-[-1px] bottom-[-78px] lg:bottom-[-374px]"}>
  <Icon name={"whave-br"} class={"w-[380px] h-full hidden lg:block"} />
  <Icon name={"mobile-br"} class={"w-[80px] h-full lg:hidden"} />
</div>
