---
import { Picture } from 'astro:assets'
import P1 from '@/assets/air-conditioning/klimatyzacja-biuro.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit order-last grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Klimatyzacja chodząca w pomieszczeniu biurowym i kobieta używająca pilota od klimatyzacji.'
      formats={['avif', 'webp']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='order-first prose-stone flex flex-col gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Monitoring IP Parczew - najważniejsze zalety</h2>
      </header>

      <p>
        Monitoring IP to doskonałe rozwiązanie do zabezpieczenia domu oraz
        miejsc, gdzie kluczowa jest rejestracja obrazu w wysokiej jakości. Jego
        wyjątkową zaletą jest integracja z siecią LAN, co umożliwia sprawne
        działanie kamer. Urządzenia te łączy się za pomocą kabla sieciowego UTP,
        zakończonego złączem RJ-45, co zapewnia stabilne i niezawodne
        połączenie.
      </p>
      <div class='flex flex-col gap-5'>
        <h3>Wysoka jakość obrazu nagrań monitoringu</h3>
        <p>
          Kamery IP zapewniają znacznie wyższą rozdzielczość obrazu niż
          tradycyjne systemy analogowe, oferując wyjątkową szczegółowość i
          lepszą jakość nagrań. Technologia ta umożliwia również bardziej
          zaawansowane zarządzanie zarejestrowanym materiałem. W naszej ofercie
          dostępne są modele rejestrujące obraz w jakości HD, Full HD, a nawet
          4K.
        </p>
        <h3>Monitorowanie zarządzanie z dowolnego miejsca na świecie</h3>
        <p>
          System CCTV IP doskonale sprawdza się zarówno w małych, jak i dużych,
          rozproszonych obiektach. Umożliwia zdalny podgląd i konfigurację kamer
          przez przeglądarkę internetową z dowolnej lokalizacji. Dzięki temu
          użytkownicy mogą na bieżąco monitorować swój dom lub inne miejsca,
          korzystając z laptopa, smartfona czy przewodowego połączenia
          sieciowego.
        </p>
        <h3>Monitorowanie i zarządzanie z dowolnego miejsca na świecie</h3>
        <p>
          System CCTV IP doskonale sprawdza się zarówno w małych, jak i dużych,
          rozproszonych obiektach. Umożliwia zdalny podgląd i konfigurację kamer
          przez przeglądarkę internetową z dowolnej lokalizacji. Dzięki temu
          użytkownicy mogą na bieżąco monitorować swój dom lub inne miejsca,
          korzystając z laptopa, smartfona czy przewodowego połączenia
          sieciowego.
        </p>
      </div>
    </article>
    <article>
      <header>
        <h2>Jakie kamery mogą stanowić Twój system monitoringu?</h2>
      </header>

      <p>
        Każdy budynek ma innaczej rozlokowane punkty wrażliwe a my do każdego
        budynku jesteśmy w stanie dobrać odpowiedni system monitoringu. Oto
        niektóre rodzaje kamer jakie możemy zamontować.
      </p>
      <div class='flex flex-col gap-5'>
        <h3>Kamery obrotowe IP</h3>
        <p>
          Aby zapewnić jak najszerszy zakres działania, polecamy obrotowe kamery
          IP PTZ, idealne do monitorowania dużych przestrzeni, takich jak
          magazyny. Niektóre z nich sprawdzą się także na zewnątrz dzięki
          wysokiej klasie szczelności IP66.
        </p>
        <h3>Kamery IP wewnętrzne</h3>
        <p>
          W zależności od potrzeb, dostępne są zarówno kamery przystosowane do
          pracy na zewnątrz, jak i modele przeznaczone do wnętrz. Kamery
          wewnętrzne są najczęściej wybierane, ponieważ pozwalają na
          monitorowanie pomieszczeń takich jak biura, domy czy obiekty
          użyteczności publicznej. Z kolei tam, gdzie instalacja okablowania
          jest trudna lub niewskazana, idealnie sprawdzą się bezprzewodowe
          kamery IP działające w technologii Wi-Fi.
        </p>
        <h3>Kamery IP zewnętrzne</h3>
        <p>
          Wybierając wysokiej jakości kamery zewnętrzne z naszej oferty, można
          skutecznie zabezpieczyć zarówno prywatne posesje, jak i miejsca takie
          jak parkingi czy place z pojazdami specjalistycznymi. Kamery te
          charakteryzują się wysoką rozdzielczością, odpornością na warunki
          atmosferyczne oraz funkcjami takimi jak detekcja ruchu i tryb nocny.
        </p>
      </div>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
