---
import { Picture } from 'astro:assets'
import P1 from '@/assets/monitoring/monitoring-nagrania.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Centrum rejestracji obrazu z kamer monitoringu'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='flex flex-col place-self-end gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Telewizja przemysłowa Parczew</h2>
      </header>
      <p>
        Systemy monitoringu oparte na technologiach AHD, HD-TVI i HD-CVI oferują
        efektywną ochronę dla domów, firm, magazynów, sklepów oraz obiektów
        użyteczności publicznej. Nasi eksperci są gotowi pomóc w zaprojektowaniu
        odpowiedniego systemu i dobraniu sprzętu z naszej bogatej oferty, aby
        zapewnić maksymalne bezpieczeństwo. Oferujemy wysokiej jakości
        urządzenia od renomowanych producentów, w tym np: kamery przemysłowe,
        kopułkowe, rejestratory, switche oraz niezbędne akcesoria, takie jak
        dyski twarde, okablowanie, zasilacze i uchwyty.
      </p>
    </article>
    <article>
      <header>
        <h2>Montaż i konfigutacja monitoringu Parczew</h2>
      </header>
      <p>
        Montaż i konfiguracja systemu monitoringu to złożony proces, który
        zaczyna się od analizy indywidualnych potrzeb klienta oraz oceny
        specyfiki monitorowanego obiektu. Na tym etapie ustala się, które
        obszary wymagają nadzoru, jakie funkcje powinien spełniać system oraz
        dobiera odpowiednie urządzenia, takie jak kamery przemysłowe czy
        rejestratory. Kolejnym krokiem jest wybór sprzętu, uwzględniając jakość
        obrazu, funkcje dodatkowe (np. detekcja ruchu, zoom optyczny) oraz
        kompatybilność z innymi elementami systemu. Następnie przystępuje się do
        instalacji kamer w strategicznych miejscach, zapewniając optymalne
        pokrycie monitorowanego obszaru, oraz poprowadzenia okablowania i
        zapewnienia zasilania dla wszystkich urządzeń. W przypadku trudności z
        instalacją kabli, warto rozważyć użycie kamer bezprzewodowych. Po
        fizycznej instalacji dokonuje się konfiguracji urządzeń, w tym
        ustawienia parametrów kamer, takich jak kąt widzenia czy czułość,
        konfiguracji rejestratora oraz połączenia systemu z siecią internetową.
        Na koniec przeprowadza się testy działania systemu, sprawdzając jakość
        obrazu, zasięg kamer oraz poprawność działania wszystkich funkcji, aby
        zapewnić maksymalną efektywność monitoringu.
      </p>
    </article>
    <article>
      <header>
        <h2>Monitoring do domu Parczew - przykładowy cennik</h2>
      </header>
      <p>
        <strong>Cena systemu monitoringu</strong> zależy od liczby kamer, ich rozdzielczości
        oraz dodatkowych funkcji. Najłatwiejszym rozwiązaniem jest przygotowanie
        indywidualnej wyceny, dostosowanej do specyfiki danego budynku. Nie istnieje
        jeden uniwersalny system, który sprawdzi się wszędzie, dlatego ważne jest
        odpowiednie dobranie komponentów. Możemy zdecydować się na zestaw z czterema
        kamerami, ale warto pamiętać, że brak możliwości rozbudowy w przyszłości
        może wiązać się z dodatkowymi kosztami, np. wymiany rejestratora. Oferujemy
        bezpłatną wycenę systemu monitoringu, co pozwoli zaoszczędzić czas na porównywaniu
        różnych modeli. Koszt tradycyjnego systemu monitoringu dla domu wynosi zazwyczaj
        2500-4000 zł, co umożliwia wybór sprzętu renomowanej marki i kamer o dobrej
        jakości. Inwestycja w monitoring to nie tylko kwestia finansowa, ale przede
        wszystkim troska o bezpieczeństwo twojej rodziny.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
