---
import { Picture } from 'astro:assets'
import P2 from '@/assets/photovoltaics/fotowoltaika-dach1.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P2}
      alt='Instalacja fotowoltaiczna zamontowana na dachu poszytym z blachodachówki.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='flex flex-col place-self-end gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Czy fotowoltaika w 2025 dalej się opłaca?</h2>
      </header>

      <p>
        <strong>Inwestowanie w instalację fotowoltaiczną</strong> w Polsce jest korzystne,
        nawet przy umiarkowanym klimacie. Dzięki dostępnym dotacjom, ulgom podatkowym
        oraz właściwemu dopasowaniu systemu i wysokiej autokonsumpcji, można osiągnąć
        znaczące oszczędności w dłuższej perspektywie. Fotowoltaika przyczynia się
        również do zwiększenia niezależności energetycznej, umożliwiając produkcję
        własnej, ekologicznej energii elektrycznej. W połączeniu z magazynem energii
        pozwala na jej przechowywanie i wykorzystanie w dogodnym momencie. Dobrze
        dobrana instalacja fotowoltaiczna to nie tylko niższe rachunki, ale także
        ochrona przed rosnącymi cenami prądu.
      </p>
    </article>
    <article>
      <header>
        <h2>Dotacje do fotowoltaiki w 2025</h2>
      </header>
      <p>
        Szósta edycja programu „Mój Prąd” trwa od 2 września 2024 r. do 29
        sierpnia 2025 r. lub do wyczerpania środków, które zwiększono do 1,85
        mld zł. Od 1 sierpnia 2024 r. nowe mikroinstalacje PV muszą mieć magazyn
        energii lub ciepła, a maksymalna moc dotowanej instalacji wzrosła do 20
        kWp. Dla zgłoszeń przed 31 lipca 2024 r. magazyn nie jest wymagany, a
        moc instalacji bez niego może wynosić od 2 do 10 kWp. Całkowita moc OZE
        u prosumenta, wraz z magazynem, nie może przekroczyć 50 kW.
      </p>
    </article>
    <article>
      <header>
        <h2>Czy montaż fotowoltaiki możliwy jest na każdym dachu?</h2>
      </header>
      <p>
        Panele fotowoltaiczne można montować na większości rodzajów pokryć
        dachowych, z wyjątkiem tych wykonanych z eternitu, poliwęglanu czy
        pleksi. Kluczowe jest również sprawdzenie stanu technicznego dachu –
        jeśli jest on w złym stanie, instalacja modułów może być niemożliwa lub
        niebezpieczna. Warto pamiętać, że solidna konstrukcja dachu to nie tylko
        kwestia bezpieczeństwa, ale także gwarancja długowieczności i
        efektywności całego systemu fotowoltaicznego.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
