---
import { Picture } from 'astro:assets'
import P1 from '@/assets/photovoltaics/fotowoltaika-dach.avif'
---

<section class='relative grid lg:grid-cols-2 px-spaced gap-8'>
  <div
    class='lg:sticky top-32 h-fit order-last grid bg-bbrand-50 shadow-lg lg:shadow-2xl shadow-accent p-4 lg:p-16 rounded-2xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <Picture
      src={P1}
      alt='Panele fotowoltaiczne zamontowane na dachu skośnym.'
      formats={['avif']}
      widths={[400, 800, 1200]}
      sizes={`
      (max-width: 1280px) 400px,
      (max-width: 1536px) 800px,
      1200px
    `}
      class={'rounded-2xl double-brand-clip'}
      loading={'lazy'}
    />
  </div>
  <div
    class='order-first prose-stone flex flex-col gap-16 max-w-3xl intersect:animate-fade-in-scale-index intersect-once'
  >
    <article>
      <header>
        <h2>Isntalacje fotowoltaiczne Parczew - projekty instalacji</h2>
      </header>

      <p>
        Nasza firma oferuje kompleksowe projekty instalacji fotowoltaicznych.
        Każdy projekt zawiera szczegółowy schemat systemu, uwzględniający
        optymalne rozmieszczenie paneli, inwertera oraz niezbędnych zabezpieczeń
        elektrycznych. Przeprowadzamy analizę nasłonecznienia i zacienienia, aby
        zapewnić maksymalną wydajność instalacji. Dobieramy odpowiednie
        komponenty, w tym przewody i systemy montażowe, a także wykonujemy
        obliczenia dotyczące mocy i efektywności systemu. Zapewniamy pełną
        zgodność projektu z obowiązującymi normami i przepisami, a także
        dostarczamy instrukcję eksploatacji i konserwacji, gwarantując
        bezpieczne i bezproblemowe użytkowanie instalacji przez lata.
      </p>
    </article>
    <article>
      <header>
        <h2>Montaż fotowoltaiki Parczew - jakie są dostępne konstrukcje?</h2>
      </header>
      <p>
        Jeśli nie wiesz, czy uda się w jakiś sposób zamontować panele
        fotowoltaiczne dla Twojego budynku, nie masz się co martwić. W Sawers
        pośredniczymy przy realizacjach fotowoltaiki dla większości pokryć
        dachowych i dajmy możliwość montażu konstrukcji gruntowej.
      </p>
      <div class='flex flex-col gap-8'>
        <h3>Konstrukcje pod panele fotowoltaiczne na dachach płaskich</h3>
        <p>
          Montaż systemu fotowoltaicznego na płaskim dachu wymaga zastosowania
          odpowiedniej konstrukcji wsporczej, która zapewni odpowiedni kąt
          nachylenia paneli względem dachu. Zwykle celem jest uzyskanie kąta
          między 15 a 45 stopni oraz optymalnego skierowania paneli w kierunku
          południowym. W zależności od specyfiki dachu, jego parametrów oraz
          preferencji inwestora, stelaż może być montowany z lub bez dodatkowego
          obciążenia (balastu). W systemach bezbalastowych konstrukcja jest
          stabilizowana poprzez mocowanie do bloków betonowych ułożonych na
          dachu, co zapewnia solidność instalacji i jej odporność na silne
          wiatry.
        </p>
        <h3>Konstrukcja fotowoltaiczna na dachach skośnych</h3>
        <p>
          Do montażu instalacji fotowoltaicznej na dachu skośnym używamy różnych
          elementów w zależności od rodzaju pokrycia, takich jak haki montażowe
          do krokwi, dwugwinty do blachodachówki lub gontu, mostki trapezowe do
          blachy trapezowej oraz blachodachówki. Instalację można zamontować na
          dachówce ceramicznej, betonowej, blachodachówce, blasze na rąbek,
          blachach trapezowych, dachówce aluminiowej czy gontach. Po zamocowaniu
          elementów łączących konstrukcję do dachu, montujemy szyny, do których
          przytwierdzamy panele za pomocą klem montażowych. Ważne jest, aby
          przewody DC były prowadzone w peszlach UV, a także, by dokładnie
          dokręcić konstrukcję i klemy, zapewniając stabilność instalacji i
          unikając ryzyka pożaru.
        </p>
        <h3>Gruntowe intalacje PV</h3>
        <p>
          W przypadku instalacji fotowoltaicznych na gruncie, rodzaj konstrukcji
          zależy od wielu czynników, z których najistotniejszym jest rodzaj
          gleby. Na przykład, w gruntach o dużym współczynniku sypkości, jak
          gleby piaszczyste, montaż fotowoltaiki może być niebezpieczny. W
          zależności od typu podłoża i wielkości systemu, stosowane są różne
          metody montażu: wbijanie w grunt, zalewanie betonem, kotwienie lub
          montaż śrubowy. Ponieważ naziemne instalacje fotowoltaiczne są
          zazwyczaj większe od dachowych, stosuje się trwalsze konstrukcje
          stalowe, co zapewnia stabilność systemu. Dodatkowo, fotowoltaika na
          gruncie jest łatwa w obsłudze i konserwacji, gdy jest to potrzebne.
        </p>
      </div>
    </article>
    <article>
      <header>
        <h2>Fotowoltaika w 2025 - uśredniony cennik</h2>
      </header>
      <p>
        Na początku 2025 roku <strong>ceny instalacji fotowoltaicznych</strong> w
        Polsce wynoszą od 3000 zł do 8000 zł brutto za 1 kWp mocy zainstalowanej,
        a ostateczny koszt zależy od kilku czynników. Im większa moc instalacji,
        tym niższy koszt jednostkowy, a jakość komponentów, takich jak panele premium
        i nowoczesne inwertery, wpływa zarówno na wydajność, jak i cenę. Rodzaj montażu
        również ma znaczenie – instalacje na dachach skośnych są zazwyczaj tańsze
        niż te na gruncie lub dachach płaskich, a lokalizacja może dodatkowo wpłynąć
        na koszt ze względu na różnice w dostępności usług montażowych. Dla przykładu,
        instalacja o mocy 3 kW kosztuje od około 12 000 do 18 000 zł, a z montażem
        nawet do 20 000 zł, natomiast większy system, taki jak 10 kW, to wydatek
        rzędu 30 000–50 000 zł, przy czym jego opłacalność rośnie wraz ze zużyciem
        energii.
      </p>
    </article>
  </div>
</section>

<style>
  article {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bbrand-50);
    gap: 32px;
    align-items: start;
    padding: 32px;
    border-radius: 16px;
  }

  h2 {
    font-weight: 600; /* font-semibold */
    color: var(--color-accent);
    font-size: 1.75rem;
    line-height: 2.25rem;
    text-shadow: #199afc 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 1.2;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 1.1;
    }
    p {
      font-size: 1.25rem;
    }
  }

  h3 {
    font-weight: 600; /* font-semibold */
    color: var(--color-bbrand-100);
    font-size: 1.25rem;
    line-height: 2rem;
    text-shadow: #ff5a02 0px 0px 20px;
    max-width: 48rem; /* max-w-3xl */
  }

  p {
    font-size: 1rem;
  }
</style>
